body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

.circle {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c0ffee;
  transition: left 0.2s, top 0.2s;
}

.info-foot {
  margin-top: 100px;
}

/* ADF 2015 */
.background {
  color: #fff;
  background-color: transparent;
  z-index: 1;
  position: relative;
  margin: 60px;
}

.circle {
  background-color: #000;
  z-index: 0;
  position: absolute;
}

.zoi {
  margin-left: 400px;
  margin-top: -50px;
}
